obj/
experiment/

*.weights
callgrind*
cachegrind*
*.a
*.o
*.so
*.swp
*.swo
darknet

my_darknet/**/vgg16
my_darknet/**/alexnet
my_darknet/**/squeezenet
my_darknet/**/resnet50
*.old
my_darknet/cfg/parser
*.nvvp
*.srcs
*.is
*.opt
*.os
*.ws
*.timeest
*.env*.c
